*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    background-color: #eceff4;
    color: #333333;

}
section{
    padding: 100px 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.add,.list{
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #ffffff;
    margin:auto;
    margin-bottom: 20px;
    padding: 25px 0 25px 0;
    border-radius: 3px;
}
.caption{
    font-size: 14px;
    margin-bottom: 15px;
    padding: 0 0 25px 25px;
    border-bottom: solid 1px #eeeeee;
}
.addform__name,.addform__phone{
    border:solid 1px #eeeeee;
    border-radius: 3px;
    height: 40px;
    margin: 5px 25px 5px 25px;

}
.addform{
    display: flex;
    flex-direction: column;
}
.addform__submit{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 40px;
    width: 100px;
    margin-right: 25px;
    margin-top: 15px;
    align-self:flex-end;
    background: #4d59a1;
    border-radius: 3px;
    border: none;
    color: #ffffff;
}
.contact{
    border-bottom: solid 1px #eeeeee;
    padding-bottom: 15px;
}
.contact__name{
    margin: 5px 25px 5px 25px;
}
.contact__phone{
    margin: 5px 25px 5px 25px;
    font-size: 12px;
    color: #666666;
}